name: CI

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Types
        run: npm run build --workspace=@flex-living/types

      - name: Generate Prisma Client
        run: npx prisma generate
        working-directory: ./backend

      - name: Run Backend Tests
        run: npm test --workspace=backend

      - name: Run Frontend Tests
        run: npm test --workspace=frontend

      - name: Build Backend
        run: npm run build --workspace=backend

      - name: Build Frontend
        run: npm run build --workspace=frontend
